body{
    background-image : url("download.jpg")
}

#contain{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

ul{
    flex: 3;
    background-color: rgba(0,0,0,0.6);
    border-radius: 30px;
    margin: 10px;
    padding: 10px;
    
}

ul:hover{
  background-color: black;
}

h1{
    margin: auto;
    text-align: center;
    font-size: 50px;
    margin-bottom: 60px;
    text-shadow: 5px 5px 16px #ff0000;
}

.img{
    box-sizing: border-box;
    display: block;
    margin: 10px auto;
    border-radius: 30px;
}


.quote{
    font-family: 'Supermercado One', cursive;
    margin: 10px auto;
}

.lang{
    
}

.year{
    
}

.author{
    
}

.title{
    font-size: 30px;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 5px #ff0000;
    text-transform: capitalize;
}

li{
    list-style: none;
    font-size: 20px;
    text-align: center;
    color: rgba(255,255,255,0.6);
}

.myButton {
    width: 20%;
	-moz-box-shadow:inset 0px 1px 0px 0px #f5978e;
	-webkit-box-shadow:inset 0px 1px 0px 0px #f5978e;
	box-shadow:inset 0px 1px 0px 0px #f5978e;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f24537), color-stop(1, #c62d1f));
	background:-moz-linear-gradient(top, #f24537 5%, #c62d1f 100%);
	background:-webkit-linear-gradient(top, #f24537 5%, #c62d1f 100%);
	background:-o-linear-gradient(top, #f24537 5%, #c62d1f 100%);
	background:-ms-linear-gradient(top, #f24537 5%, #c62d1f 100%);
	background:linear-gradient(to bottom, #f24537 5%, #c62d1f 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f24537', endColorstr='#c62d1f',GradientType=0);
	background-color:#f24537;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #d02718;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:30px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #810e05;
    margin: 10px 40%;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #c62d1f), color-stop(1, #f24537));
	background:-moz-linear-gradient(top, #c62d1f 5%, #f24537 100%);
	background:-webkit-linear-gradient(top, #c62d1f 5%, #f24537 100%);
	background:-o-linear-gradient(top, #c62d1f 5%, #f24537 100%);
	background:-ms-linear-gradient(top, #c62d1f 5%, #f24537 100%);
	background:linear-gradient(to bottom, #c62d1f 5%, #f24537 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c62d1f', endColorstr='#f24537',GradientType=0);
	background-color:#c62d1f;
}
.myButton:active {
	position:relative;
	top:1px;
}

.logo{
    position: absolute;
    top: 20px;
    left: 70px;
}

.background-logo{
    position: fixed;
    top: 250px;
    left: 25%;
    width: 50%;
    z-index: -1;
    opacity: 0.6;
}
